
<div class="p-grid">
  <div class="p-col">DD</div>
  <div class="p-col">DD</div>
  <div class="p-col">DD</div>
  <div class="p-col">DD</div>
  <div class="p-col">DD</div>
  <div class="p-col">DD</div>
  <div class="p-col">DD</div>
  <div class="p-col">DD</div>
  <div class="p-col">DD</div>
  <div class="p-col">DD</div>
  <div class="p-col">DD</div>
  <div class="p-col">DD</div>
</div>


<div class="p-grid">
  <div class="p-col-4">4</div>
  <div class="p-col">1 </div>
  <div class="p-col">1 </div>
  <div class="p-col">1 </div>
  <div class="p-col">1 </div>
  <div class="p-col">1 </div>
  <div class="p-col">1 </div>
  <div class="p-col">1 </div>
  <div class="p-col">1 </div>
</div>
