<div class="p-grid">
  <div class="p-col-1" style="width: 80px;">
    <div *ngFor="let item of items">
      <p-button [icon]="item.icon" (click)="item.command($event)" [title]="item.label"></p-button>
    </div>
  </div>
  <div class="p-col-10">Other Content</div>
  <div class="p-col-1" style="width: 80px;">
    <div *ngFor="let item of utils">
      <p-button [icon]="item.icon" (click)="item.command($event)" [title]="item.label"></p-button>
    </div>
  </div>
</div>

<app-tree-testing></app-tree-testing>
