<div class="p-col" style="height: 100%; background-color: transparent; padding: 20px">
  <button pButton type="button" label="Menu" (click)="toggleMenu()"></button>
  <div>&nbsp;</div>
  <div>THIS IS THE CONTENT AREA</div>
  <button pButton type="button" label="Toss" (click)="toss()"></button>
  <!-- <p-tabView orientation="left">
    <p-tabPanel [style]="{'width': '30px', 'height': '30px'}">
      <ng-template pTemplate="header">
        <i class="pi pi-briefcase" style="font-size: 2em"></i>
      </ng-template>
      <ng-template pTemplate="content">Business</ng-template>
    </p-tabPanel>
    <p-tabPanel [style]="{'width': '30px', 'height': '30px'}">
      <ng-template pTemplate="header">
        <i class="pi pi-images" style="font-size: 2em"></i>
      </ng-template>
      <ng-template pTemplate="content">Images</ng-template>
    </p-tabPanel>
    <p-tabPanel [style]="{'width': '30px', 'height': '30px'}">
      <ng-template pTemplate="header">
        <i class="pi pi-chart-bar" style="font-size: 2em"></i>
      </ng-template>
      <ng-template pTemplate="content">Reports</ng-template>
    </p-tabPanel>
  </p-tabView> -->
</div>
